/*
img{
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 200px;
    transition: transform 2s;
    /*transform-origin: top;
}
*/
/*
body{
    perspective: 500px;
}
img:hover {
    /*transform: translate(500px,  200px);
    /*transform: scale(.25);*/
    /*transform: rotate(4turn);*/ 
    /*transform: skewY(-30deg);*/
    /*transform: rotate(45deg);*/
    /*transform: translateZ(800px);
    transform: rotateY(60deg);
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #351435;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid #351435;
    padding: 40px 80px;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

a:hover {
    color: beige;
}

a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #351435;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
}

a:hover:before {
    transform: translateX(0);
}

/*a {
    text-decoration: none;
    color: #272727;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #272727;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
}

a:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff200;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}
a:hover:before {
    transform: rotate(0deg);
}
*/


/* button Hover effect in cross*/

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    padding: 40px 80px;
    font-family: sans-serif;
    text-decoration: none;
    color: #262626;
    font-size: 45px;
    letter-spacing: 2px;
    border: 5px solid #262626;
    position: relative;
    transition: 1s;
}

a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateX(90deg);
    z-index: -1;
}


a:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transition: 1s;
    transform: rotateY(90deg);
    z-index: -1;
}

a:hover:before{
    transform: rotateX(0deg);
}

a:hover:after{
    transform: rotateY(0deg);
}
a:hover {
    color: white;
}

/* end button Hover effect in cross*/