img{
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 200px;
    transition: transform 2s;
    /*transform-origin: top;*/
}
body{
    perspective: 500px;
}
img:hover {
    /*transform: translate(500px,  200px);*/
    /*transform: scale(.25);*/
    /*transform: rotate(4turn);*/ 
    /*transform: skewY(-30deg);*/
    /*transform: rotate(45deg);*/
    /*transform: translateZ(800px);*/
    transform: rotateY(60deg);
}