/*body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #fffa65;
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 22px;
    display: block;
    padding: 10px 15px;
    position: relative;
}

ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;

}

ul li a:hover:before, ul li a:hover:after {
    transform: scaleX(1);
}

ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: right;

}
*/

/* creative backbrounds and borders menu effect 

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

ul li a {
    color: #277227;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0px 10px;
    position: relative;
    transition: all 0.5s;
}

a:hover{
    background-color: #e91e63;
    color: white;
}

a:before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all 0.3s;
}

a:hover:before {
    opacity: 1;
    bottom: -8px;
    left: -8px;
}

a:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all 0.3s;
}

a:hover:after {

    opacity: 1;
    top: -8px;
    right: -8px;
    
}
*/

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

ul li a {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: red;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    transition: all 0.5s;
    color: #262626;
}

a:hover {
    color: white;
}

ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #262626;
    z-index: -1;
    left: 0;
    top: 0;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: top;
}

a:hover span {
    transform: scaleY(1);
}

span:nth-child(2){
    left: 25%;
    transition-delay: 0.15s;
}
span:nth-child(3){
    left: 50%;
    transition-delay: 0.3s;
}
span:nth-child(4){
    left: 75%;
    transition-delay: 0.45s;
}