@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');
/*body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #fffa65;
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 22px;
    display: block;
    padding: 10px 15px;
    position: relative;
}

ul li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: left;

}

ul li a:hover:before, ul li a:hover:after {
    transform: scaleX(1);
}

ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3d3d3d;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: right;

}
*/

/* creative backbrounds and borders menu effect 

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

ul li a {
    color: #277227;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0px 10px;
    position: relative;
    transition: all 0.5s;
}

a:hover{
    background-color: #e91e63;
    color: white;
}

a:before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 0 0 3px 3px;
    opacity: 0;
    transition: all 0.3s;
}

a:hover:before {
    opacity: 1;
    bottom: -8px;
    left: -8px;
}

a:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 3px 3px 0 0;
    opacity: 0;
    transition: all 0.3s;
}

a:hover:after {

    opacity: 1;
    top: -8px;
    right: -8px;
    
}
*/

/* creative splited background effect*/

/*
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

ul li a {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: red;
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
    transition: all 0.5s;
    color: #262626;
}

a:hover {
    color: white;
}

ul li span {
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: #262626;
    z-index: -1;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: top;
}

a:hover span {
    transform: scaleX(1);
}

span:nth-child(2){
    top: 25%;
    transition-delay: 0.15s;
}
span:nth-child(3){
    top: 50%;
    transition-delay: 0.3s;
}
span:nth-child(4){
    top: 75%;
    transition-delay: 0.45s;
}

*/

/* end creative splited background effect*/

/* creative 2 moving line under menu */
/*
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    padding: 0;
    display: flex;
}

li {
    list-style-type: none;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color: #222;
    position: relative;
}

ul li a:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: #00bcd4;
    position: absolute;
    top: 120%;
    left: 0;
    transition: all 0.5s;
}

ul li a:after {
    content: "";
    width: 0;
    height: 5px;
    background-color: #f0f;
    position: absolute;
    top: 120%;
    right: 0;
    transition: all 0.5s;
}

ul li a:hover:before {
    width: 50%;
    transform: translateX(100%);
}

ul li a:hover:after {
    width: 50%;
    transform: translateX(-100%);
}
*/
/* end creative 2 moving line under menu */


/* creative blurry effect */
/*
body {
    background-color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    position: relative;
    list-style: none;
    margin: 5px;
}

a{
    position: relative;
    display: block;
    height: 40px;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 300;
    letter-spacing: 2px;
    overflow: hidden;
}

ul li a span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    transition-delay: 0.5s;

}

a:hover span:nth-child(1){
    transform: translateY(-100%);
    transition-delay: 0s;
}
a:hover span:nth-child(2){
    transform: translateY(-100%);
    transition-delay: 0s;
}

a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16a085;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}

a:hover:before{
    transform: scaleX(1);
    transform-origin: right;
    transition-delay: 0.5s;
}

*/

/* end creative blurry effect */


/* border and background menu effect */

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa';
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

a {
    position: relative;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s;
}

a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scaleY(2);
    transition: 0.5s;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

a:hover:before {
    transform: scaleY(1.2);
    opacity: 1;
}

a:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    transition: 0.5s;
    transform: scale(0);
}

a:hover:after {
    transform: scale(1);
    z-index: -1;
}

a:hover {
    color: white;
}

/* end border and background menu effect */