@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa';
    background-color: #192a56;
}




/* creative expandable card effect */
/*


 


.card {
    position: relative;
    width: 320px;
    padding: 40px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(-100% + 5px);
    width: 100%;
    height: 100%;
    background-color: #ff56ac;
    z-index: 1;
    transition: 0.5s;
}

.card:hover:before {
    bottom: 0;
}

.content {
    position: relative;
    text-transform: capitalize;
    color: #777;
    z-index: 2;
    transition: 0.5s;
}

h2{
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 30px;
}

p{
    font-size: 18px;
}

a {
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #777;
    padding: 6px 10px;
    font-weight: 600;
    background-color: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}

.card:hover .content{
    color: white;
}

*/
/* end creative expandable card effect */

/*  creative border card effect */

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: black;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);
}

.content {
    position: absolute;
    bottom: 0px;
    width: 80%;
    height: 80px;
    background-color: white;
    left: 10%;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
}

h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 25px;
}

p{
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    transition: 0.5s;
    opacity: 0;
}

a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    transition: 0.5s;
    opacity: 0;
}

.card:hover .content {
    height: 100%;
    width: 100%;
    left: 0%;
}

.card:hover p,
.card:hover a {
    opacity: 1;
    transition-delay: 0.5s;
}

.imgbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.card:hover img {
    opacity: 0;
}

/* end  creative border card effect */


/*  creative layered  card hover effect */
 /*
.card{
    position: relative;
    width: 320px;
    height: 350px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card:before,
.card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: white;
    transition: 0.5s;
    z-index: -1;
}

.card:hover:before{
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.card:hover:after{
    transform: rotate(10deg);
    box-shadow:0 2px 20px rgba(0, 0, 0, 0.2);
}

.imgbox{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background-color: #222;
    transition: 0.5s;
    z-index: 1;
}

.card:hover .imgbox{
    bottom: 80px;
}

.details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

h2{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
}

h2 span {
    font-weight: 500;
    font-size: 16px;
    color: #f38695;
}

img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* end creative layered  card hover effect */