@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

/* Loader 1*/
/*
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B1734;
}

.container {
    width: 100px;
    height: 100px;
    position: relative;
    animation: animate 1s linear infinite;
    transform: rotate(45deg);
}

span {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: rotate 1s linear infinite;
}

span:nth-child(1){
    top: 0;
    left: 0;
    background-color: #FCEBA7;
}

span:nth-child(2){
    top: 0;
    right: 0;
    background-color: #55DDB9;
}

span:nth-child(3){
    bottom: 0;
    left: 0;
    background-color: #FD6C64;
}

span:nth-child(4){
    bottom: 0;
    right: 0;
    background-color: #1F78B0;
}

@keyframes rotate {
    0% {
       transform: rotate(0deg);
    }

    10% {
      transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }
    90% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes animate {
    0% {
        width: 100px;
        height: 100px;
    }

    10% {
        width: 100px;
        height: 100px;
    }

    50% {
        width: 150px;
        height: 150px;
    }
    90% {
        width: 100px;
        height: 100px;
    }

    100% {
        width: 100px;
        height: 100px;
    }
}
*/
/*Loader 2*/
/*
body {
    margin: 0;
    padding: 0;
    background: #ee5253;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loader {
    width: 150px;
    height: 150px;
    position: relative;
}

span {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    animation: chase 2s linear infinite;
}

span:nth-child(2){
   animation-delay: 0.7s;
} 



span:nth-child(3){
    animation-delay: 1.4s;
 } 
 

@keyframes chase {
    0% {
         top: 0;
         left: 0;
    }

    12.5% {
        top: 0;
        left: 50%;
   }

   25% {
        top: 0;
        left: 50%;
    }
    
    37.5% {
        top: 50%;
        left: 50%;
    }
    50% {
        top: 50%;
        left: 50%;
    }
    62.5% {
        top: 50%;
        left: 0;
    }
    75% {
        top: 50%;
        left: 0;
    }
    
    87.5% {
        top: 0;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}
*/
/*End  Loader 2*/

/* Loader 3 */

body{
    margin: 0;
    padding: 0;
    font-family: Comfortaa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3A47;
}

h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
    position: relative;
}

h1:before {
    content: "placide...";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #f6b93b;
    overflow: hidden;
    border-right: 4px solid #f6b93b;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

/* End Loader 3 */