@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

/* Loader 1*/
/*
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B1734;
}

.container {
    width: 100px;
    height: 100px;
    position: relative;
    animation: animate 1s linear infinite;
    transform: rotate(45deg);
}

span {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: rotate 1s linear infinite;
}

span:nth-child(1){
    top: 0;
    left: 0;
    background-color: #FCEBA7;
}

span:nth-child(2){
    top: 0;
    right: 0;
    background-color: #55DDB9;
}

span:nth-child(3){
    bottom: 0;
    left: 0;
    background-color: #FD6C64;
}

span:nth-child(4){
    bottom: 0;
    right: 0;
    background-color: #1F78B0;
}

@keyframes rotate {
    0% {
       transform: rotate(0deg);
    }

    10% {
      transform: rotate(0deg);
    }

    50% {
        transform: rotate(90deg);
    }
    90% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes animate {
    0% {
        width: 100px;
        height: 100px;
    }

    10% {
        width: 100px;
        height: 100px;
    }

    50% {
        width: 150px;
        height: 150px;
    }
    90% {
        width: 100px;
        height: 100px;
    }

    100% {
        width: 100px;
        height: 100px;
    }
}
*/
/*Loader 2*/
/*
body {
    margin: 0;
    padding: 0;
    background: #ee5253;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loader {
    width: 150px;
    height: 150px;
    position: relative;
}

span {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 4px;
    animation: chase 2s linear infinite;
}

span:nth-child(2){
   animation-delay: 0.7s;
} 



span:nth-child(3){
    animation-delay: 1.4s;
 } 
 

@keyframes chase {
    0% {
         top: 0;
         left: 0;
    }

    12.5% {
        top: 0;
        left: 50%;
   }

   25% {
        top: 0;
        left: 50%;
    }
    
    37.5% {
        top: 50%;
        left: 50%;
    }
    50% {
        top: 50%;
        left: 50%;
    }
    62.5% {
        top: 50%;
        left: 0;
    }
    75% {
        top: 50%;
        left: 0;
    }
    
    87.5% {
        top: 0;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}
*/
/*End  Loader 2*/

/* Loader 3 */
/*
body{
    margin: 0;
    padding: 0;
    font-family: Comfortaa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3A47;
}

h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
    position: relative;
}

h1:before {
    content: "placide...";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #f6b93b;
    overflow: hidden;
    border-right: 4px solid #f6b93b;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}
*/

/* End Loader 3 */

/* loader 4 */

/*

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Comfortaa;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
}

.ring {
    width: 100%;
    height: 100%;
    border-left: 4px solid #262626;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 200px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

*/

/*end loader 4 */

/* loader 5 */

/*
body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Comfortaa;
    background-color: #262626;
}

.loading {
    width: 300px;
    height: 3px;
    background-color: white;
    animation: line 2s infinite alternate;
}

@keyframes line {

    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    45% {
        transform: scaleX(1); 
        transform-origin: left;
    }

    50% {
        transform: scaleX(1);
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

*/
/* End loader 5 */

/* loader 6 */
/*
body{
    height: 100vh;
    font-family: Comfortaa;
    background-color: #222D3E;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.loader{
    width: 200px;
    height: 200px;
    position: relative ;
}

.outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 5px solid #eb4d4b;
    border-right: 5px solid #eb4d4b;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.middle {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border-left: 5px solid #218c74;
    border-right: 5px solid #218c74;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite reverse;
}


.inner {
    position: absolute;
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: 60px;
    border-left: 5px solid #ccae62;
    border-right: 5px solid #ccae62;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.dot {
    position: absolute;
    top: 90px;
    left: 90px;
    right: 90px;
    bottom: 90px;
    background-color: white;
    border-radius: 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
    
}
*/
/* End loader 6 */

/* loader 7 */
/*
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a3d62;
}

.loader {
    position: relative;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

span {
    width: 30px;
    height: 30px;
    position: relative;
}

span:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 0;
        height: 0;
    }
}

.s4:before,
.s5:before,
.s6:before{
    animation-delay: 0.1s;
}

.s7:before,
.s8:before,
.s9:before{
    animation-delay: 0.1s;
}
*/
/* End loader 7 */

/* Growing line animations */

body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
}

.loader {
    width: 70px;
    display: flex;
}

span {
    width: 10px;
    height: 60px;
    margin: 0px 1px;
    background-color: white;
    animation: loading 0.8s ease-in-out infinite;
}

span:nth-child(1){
    background-color: #2eeca8;
    animation-delay: 0.2s;
}

.loader span:nth-child(2){
    background: #eade3d;
    animation-delay: 0.3s;
}
.loader span:nth-child(3){
    background: #55acee;
    animation-delay: 0.4s;
}
.loader span:nth-child(4){
    background: #ec902e;
    animation-delay: 0.5s;
}
.loader span:nth-child(5){
    background: #09b7bf;
    animation-delay: 0.6s;
}
.loader span:nth-child(6){
    background: #ea3d8c;
    animation-delay: 0.7s;
}


@keyframes loading {
    0% {
        transform: scaleY(0.1);
    }

    35% {
        transform: scaleY(1);
    }

    60%, 100%{
        transform: scaleY(0.1);
    }
}

/* Growing line animations */

