@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');
/*
button{
    height: 90px;
    width: 290px;
    font-size: 28px;
    color: white;
    border: none;
    background-color: blue;
    transition:  all 3s ease-in 2s;
}

button:hover{
    background-color: brown;
    color: black;
    border-radius: 50%;
}
Transition option
.container {
    width: 960px;
}

.move {
    margin: 2em;
    width: 150px;
    height: 50px;
    padding: 10px 15px;
    background-color: red;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: .5em;
    font-size: 20px;
    transition-property: translate();
    transition-duration: 3s;
}

#ease {
    transition-timing-function: ease;

}


#linear {
    transition-timing-function: linear;
}

#ease-in {
    transition-timing-function: ease-in;
}

#ease-out {
    transition-timing-function: 
}

#ease-in-out {
    transition-timing-function: ease-in-out;
}

.move:hover {
    transform: translate(900px, 0);
}
*/

/* Newtown craddle */
/*
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
}


.cradle {
    display: flex;
    border-top: 10px solid white;
}

.cradle span {
    display: block;
    width: 3px;
    height: 300px;
    background-color: white;
    margin: 0 30px;
    position: relative;
    transform-origin: top;
}

.cradle span:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    transform: translateX(-50%);
}

.cradle span:first-child {
    animation: left-arm 2s ease-in infinite;
}

.cradle span:last-child {
    animation: right-arm 2s ease-in infinite 1s;
}

@keyframes left-arm {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(60deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes right-arm {

    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-60deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
*/
/*End Newtown craddle */

/* animated background */

/*
body {
    margin: 0;
    height: 100vh;
    background-color: #333;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.circle{
    position: absolute;
    top: -100px;
    background: linear-gradient(white, white);
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
    color: white;
    width: 10px;
    height: 10px;
    animation: boxes 10s infinite ease-in-out;
}

.circle:nth-child(1){
   
    left: 7%;
}

.circle:nth-child(2){

    left: 47%;
    animation-delay: 4s;
}

.circle:nth-child(3){
   
    left: 25%;
    animation-delay: 2s;
}
.circle:nth-child(4){
    
    left: 55%;
}
.circle:nth-child(5){
    
    left: 37%;
    animation-delay: 8s;
}
.circle:nth-child(6){
    
    left: 27%;
    animation-delay: 10s;
}
.circle:nth-child(7){
   
    left: 17%;
    animation-delay: 15s;
}
.circle:nth-child(8){
    
    left: 70%;
    animation-delay: 14s;
}

@keyframes boxes {
    0% {
        top: -100px;
    }

    100% {
        top: 100%;
        transform: translate(180deg);
        opacity: 0;
    }
}
*/
/* End animated background */

/* hexagon loader background */

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #212121;
}

.line {
    width: 300px;
    border-bottom: 4px solid white;
    position: relative;
    animation: animateline 2s linear infinite;
}

.hexagon {
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 50px;
    height: 30px;
    background-color: white;
    animation: hexagonanimate 2s linear infinite;
}

.hexagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: rotate(60deg);
}


.hexagon:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: rotate(-60deg);
}

@keyframes hexagonanimate {
    0%{
        left: 0;
    }

    50% {
        left: calc(100% - 50px);
        transform: rotate(720deg);
    }

    100% {
        left: 0;
    }
}

@keyframes animateline {
    0% {
        transform: rotate(30deg);
    }

    25% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

/* End hexagone loader background */
