@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

/*smooky effect*/
/*
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Comfortaa;
    background-color: #3b3b3b;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
    color: white;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 10px;
    transition: 2s;
}

ul:hover li{
    transform: rotate(45deg) translateY(-200px);
    opacity: 0;
    filter: blur(20px);
}

li:nth-child(1){
    transition-delay: 0;
}

li:nth-child(2){
    transition-delay: 0.4s;
}

li:nth-child(3){
    transition-delay: 0.8s;
}

li:nth-child(4){
    transition-delay: 1.2s;
}

li:nth-child(5){
    transition-delay: 1.6s;
}

li:nth-child(6){
   transition-delay: 2s; 
}

li:nth-child(7){
    transition-delay: 2.4s;
}

*/

/*end skmoky*/


/*fill text effect*/

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Comfortaa;
}

h1{
    margin: 0;
    padding: 0;
    color: #ccc;
    font-size: 120px;
    text-transform: uppercase;
    position: relative;
}

h1:before{
    content: "billionaire";
    position: absolute;
    top: 0;
    left: 0;
    color: #262626;
    width: 0%;
    overflow: hidden;
    transition: all 0.5s;

}

h1:hover:before{
    width: 100%;
}

/*end fill text effect*/



